<!DOCTYPE html>
<html lang="en" ng-app="form">
<head>
	<meta charset="UTF-8">
	<title>Task 2</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script src="Task2.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
	<link rel="stylesheet" href="task2.css">
</head>
<body>
	<div class="container" ng-controller="FormController">
		<div class="row dynamic-form">
			<form action="" ng-submit="vm.onSubmit()">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type="text" class="form-control" ng-model="user.name" ng-required="required">
				</div>
				<div class="form-group">
					<label for="color">Favorite Color:</label>
					<input type="text" class="form-control" ng-model="user.color" ng-required="required">
				</div>
				<div class="form-group">
					<label for="pet">Favorite Pet:</label>
					<input type="text" class="form-control" ng-model="user.pet" ng-required="required">
				</div>
				<div class="form-group">
					<label for="birthday">Birthday</label>
					<input type="date" class="form-control" ng-model="user.birthday" placeholder="{{date | date:'yyyy-MM-dd'}}" ng-required="required">
				</div>
				<div class="form-group">
					<label for="email">Email: </label>
					<input type="text" class="form-control" ng-model="user.email">
				</div>
				<div class="form-group">
					<div class="form-group phone-number">
	                    <p>Phone</p>
	                    <div class="col-xs-3">
	                        <input type="tel" name="phone" class="form-control" value="" size="3" maxlength="3" ng-model="num1">
	                    </div>
	                    <div class="col-xs-3">
	                        <input type="tel" name="phone" class="form-control" value="" size="3" maxlength="3" ng-model="num2">
	                    </div>
	                    <div class="col-xs-4">
	                        <input type="tel" name="phone" class="form-control" value="" size="4" maxlength="4" ng-model="num3">
	                    </div>
	                </div>	
				</div>

				<input class="btn btn-primary" type="button" ng-click="update(user)" value="Submit"></input>
			</form>
		</div>

		<div class="row user-table">
			<table class="table table-hover" ng-if="totalUsers.length > 0">
				<thead>
					<tr>
						<td><a href="" ng-click="sortBy = 'name'">Name</a></td>
						<td><a href="" ng-click="sortBy = 'color'">Color</a></td>
						<td><a href="" ng-click="sortBy = 'pet'">Pet</a></td>
						<td><a href="" ng-click="sortBy = 'birthday'">Birthday</a></td>
						<td><a href="" ng-click="sortBy = 'email'">Email</a></td>
						<td><a href="" ng-click="sortBy = 'phone'">Phone</a></td>
					</tr>
				</thead>
				<tr ng-repeat="user in totalUsers | orderBy:sortBy:sortReverse">
					<td>{{user.name}}</td>
					<td>{{user.color}}</td>
					<td>{{user.pet}}</td>
					<td>{{user.birthday}}</td>
					<td>{{user.email}}</td>
					<td>{{user.phone}}</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>